LoadPlugin write_prometheus
<Plugin write_prometheus>
    Port "{{ collectd_prometheus_port }}"
</Plugin>

# Load additional collectd modules
{% for plugin in collectd_plugin_list %}
    LoadPlugin {{ plugin }}
{% endfor %}

